# Drizzle
DATABASE_URL="postgres://postgres:mysecretpassword@localhost:5432/postgres"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# Supabase Storage
SUPABASE_PUBLIC_URL="http://localhost:8000"
SUPABASE_SECRET_KEY=""
ARTWORK_STORAGE_BUCKET="artworks"
